
<table class="ui striped table">
  <thead>
    <tr>
      <th>#</th>
      <th>Song</th>
      <th>Artist</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Gingerbread Drummer</td>
      <td>FlipSwitch</td>
    </tr>
    <tr>
      <td>2</td>
      <td>The Hat Song</td>
      <td>Jank</td>
    </tr>
  </tbody>
</table>
