<div class="ui menu">
  <%= link_to 'Billboards', billboards_path, class: 'item' %>
  <%= link_to 'Artists', artists_path, class: 'item' %>
  <div class="right menu">
    <a href="https://www.google.com" class="item">Search</a>
    <a href="https://www.youtube.com/watch?v=2Q_ZzBGPdqE" class="item">Help</a>
    <% if user_signed_in? %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "item" %>
    <% end %>
  </div>
</div>
