<div class="ui menu">
  <%= link_to 'Billboards', billboards_path, class: 'item' %>  
  <%= link_to 'Artists', artists_path, class: 'item active' %>
  <div class="right menu">
    <a class="item">Search</a>
    <a class="item">Help</a>
  </div>
</div>