<div class="ui menu">
  <%= link_to 'Billboards', billboards_path, class: 'item' %>
  <%= link_to 'Artists', artists_path, class: 'item active' %>
  <div class="right menu">
    <a class="item">Search</a>
    <a href="https://www.youtube.com/watch?v=2Q_ZzBGPdqE" class="item">Help</a>
  </div>
</div>
